@{
    ViewBag.Title = "Games List";
}

<!-- Games Table -->
<section id="gametable">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Game</th>
                <th scope="col">Players</th>
                <th scope="col">Time</th>
                <th scope="col" class="hiderating">
                    Rating
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Dead of Winter</th>
                <td>2 to 5</td>
                <td>Long</td>
                <td class="hiderating">5</td>
                <td>
                    <img class="smallbutton" src="/images/edit.svg">
                    <img class="smallbutton" src="/images/delete.svg">
                    <div class="buttonholder">
                        <button type="button" class="btn btn-success">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Dead of Winter</th>
                <td>2 to 5</td>
                <td>Long</td>
                <td class="hiderating">5</td>
                <td>
                    <img class="smallbutton" src="/images/edit.svg">
                    <img class="smallbutton" src="/images/delete.svg">
                    <div class="buttonholder">
                        <button type="button" class="btn btn-success">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Dead of Winter</th>
                <td>2 to 5</td>
                <td>Long</td>
                <td class="hiderating">5</td>
                <td>
                    <img class="smallbutton" src="/images/edit.svg">
                    <img class="smallbutton" src="/images/delete.svg">
                    <div class="buttonholder">
                        <button type="button" class="btn btn-success">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>