@using BoardgameBank.Controllers;
@model SearchViewModel

@{ 
    ViewBag.Title = "Search";
}

<!-- Search Form -->
<section id="search">
    <h3 class="centerthis">Game Lookup</h3>
    <section id="form area">
        <form method="post" action="@Url.Action("ExecuteSearch")">
            <div class="form-group">
                <label for="playerSelect">Number of Players:</label>
                <select name="PlayerCount" class="form-control" id="playerSelect">
                    <option selected>...</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6+</option>
                </select>
            </div>
            <div class="form-group">
                <label for="timeSelect">Play Time:</label>
                <select name="PlayTime" class="form-control" id="timeSelect">
                    <option selected>...</option>
                    <option>Quick</option>
                    <option>Medium</option>
                    <option>Long</option>
                </select>
            </div>
            <div class="form-group">
                <label for="categorySelect">Categories:</label>
                @Html.ListBoxFor( x => x.Categories, Model.AllCategories, new { @class = "form-control" } )


                <select name="Categories" multiple class="form-control" id="categorySelect" size="7">
                    <option>Area Control</option>
                    <option>Bluffing</option>
                    <option>Card Game</option>
                    <option>Deck Builder</option>
                    <option>Dice Rolling</option>
                    <option>Elimination</option>
                    <option>Hidden Roles</option>
                </select>
            </div>
            <div class="centerthis">
                <button type="submit" class="btn btn-primary">SEARCH</button>
            </div>
        </form>
    </section>
</section>