@{
    ViewBag.Title = "Search Results";
}

<!-- Search Results -->
<section id="searchResults">
    <div class="card">
        <div class="card-block">
            <h3 class="card-title centerthis">Dead of Winter</h3>
            <img src="images/boardgames/deadofwinter.jpg">
            <div class="ratingText">5/5</div>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <h3 class="card-title centerthis">Secret Hitler</h3>
            <img src="images/boardgames/secrethitler.jpg">
            <div class="ratingText">5/5</div>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <h3 class="card-title centerthis">Sheriff of Nottingham</h3>
            <img src="images/boardgames/sheriffofnottingham.jpg">
            <div class="ratingText">5/5</div>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <h3 class="card-title centerthis">Sheriff of Nottingham</h3>
            <img src="images/boardgames/sheriffofnottingham.jpg">
            <div class="ratingText">5/5</div>
        </div>
    </div>
</section>